{% extends "base.html" %}

{% block title %}Main{% endblock %}

<body>
    {% block content %}
    <p>
        <h3>
            <div style="text-align: center;"><strong>Who are you?</strong></div>
        </h3>
        <hr>
    </p>
    <div class="jumbotron">
        <div class="container">
            <div style="text-align: center;">
                <p><a href="jedi/" class="btn btn-success btn-lg">I AM A JEDI!</a></p>
                <p><a href="candidate-form/" class="btn btn-primary btn-lg"> ¯\(°_o)/¯ </a></p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
